---
export const prerender = false;
import DashbordLayout from '../../../layouts/DashbordLayout.astro';
import ScanTicket from '../../../components/dashboard/ScanTicket.astro';
import UserTickets from '../../../components/dashboard/UserTickets.astro';

// check if user is logged in
if (!Astro.cookies.get('token')) {
  return Astro.redirect('/');
}

// get user data
const userJson = Astro.cookies.get('user')?.value as string;
const user = JSON.parse(userJson);
---

<DashbordLayout>
  <main>
    {
      user.role === 'creator' || user.role === 'teller' ? (
        <ScanTicket />
      ) : (
        <UserTickets />
      )
    }
  </main>
</DashbordLayout>
