---
import { CookiesProvider } from 'react-cookie';
import QRScanner from '../../../components/QRSanner';
import DashbordLayout from '../../../layouts/DashbordLayout.astro';
---

<DashbordLayout>
  <main>
    <CookiesProvider defaultSetOptions={{ path: '/' }}>
      <QRScanner client:only />
    </CookiesProvider>
  </main>
</DashbordLayout>
