---
export const prerender = false;
import DashbordLayout from '../../../layouts/DashbordLayout.astro';
import UserTickets from '../../../components/dashboard/UserTickets.astro';

// check if user is logged in
if (!Astro.cookies.get('token')) {
  return Astro.redirect('/');
}
---

<DashbordLayout>
  <main>
    <UserTickets />
  </main>
</DashbordLayout>
