---
export const prerender = false;
import ScanTicket from '../../../components/dashboard/ScanTicket';
import DashbordLayout from '../../../layouts/DashbordLayout.astro';

// check if user is logged in
if (!Astro.cookies.get('token')) {
  return Astro.redirect('/');
}
---

<DashbordLayout>
  <main>
    <ScanTicket client:only="react" />
  </main>
</DashbordLayout>
