---
export const prerender = false;
import DashbordLayout from '../../layouts/DashbordLayout.astro';
import CreatorDashboard from '../../components/dashboard/CreatorDashboard.astro';
import UserDashboard from '../../components/dashboard/UserDashboard.astro';

// check if user is logged in
if (!Astro.cookies.get('token')) {
  return Astro.redirect('/');
}

// get user data
const userJson = Astro.cookies.get('user')?.value as string;
const user = JSON.parse(userJson);
---

<DashbordLayout>
  <div class="pb-6 px-6">
    {user?.role === 'creator' && <CreatorDashboard />}
    {user?.role === 'regular' && <UserDashboard />}
  </div>
</DashbordLayout>
