---
export const prerender = false;
import DashbordLayout from '../../layouts/DashbordLayout.astro';

const token = Astro.cookies.get('token')?.value;

// check if user is logged in
if (!token) {
  return Astro.redirect('/');
}

const errors = { message: '' };
const success = { message: '' };

if (Astro.request.method === 'POST') {
  try {
    errors.message = '';

    const data = await Astro.request.formData();
    const currentPassword = data.get('currentPassword');
    const newPassword = data.get('newPassword');

    const response = await fetch(
      `${import.meta.env.PUBLIC_API_URL}/auth/reset-password`,
      {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${token}`,
        },
        body: JSON.stringify({ currentPassword, newPassword }),
      }
    );
    const responseToJson = await response.json();

    if (responseToJson.error) {
      errors.message = responseToJson.message;
    } else {
      success.message = 'Password has been reset';
    }
  } catch (err) {
    if (err instanceof Error) {
      console.log(err.message);
      errors.message = err.message;
    }
  }
}
---

<DashbordLayout>
  <div class="pb-6 px-6">
    {
      errors.message && (
        <div
          class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
          role="alert"
        >
          <strong class="font-bold">Error!</strong>
          <span class="block sm:inline">{errors.message}</span>
        </div>
      )
    }
    {
      success.message && (
        <div
          class="bg-green-500 w-full md:w-3/4 border border-red-400 text-white px-4 py-3 rounded relative"
          role="alert"
        >
          <strong class="font-bold">Success!</strong>
          <span class="block sm:inline">{success.message}</span>
        </div>
      )
    }
    <form method="POST">
      <div class="space-y-12">
        <div>
          <h2
            class="text-base font-semibold leading-7 text-gray-900 event-create"
          >
            Reset Password
          </h2>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label
                for="currentPassword"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Current Password</label
              >
              <div class="mt-2">
                <input
                  type="password"
                  name="currentPassword"
                  id="currentPassword"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  placeholder="Enter current password"
                  required
                />
              </div>
            </div>
            <div class="sm:col-span-4">
              <label
                for="newPassword"
                class="block text-sm font-medium leading-6 text-gray-900"
                >New Password</label
              >
              <div class="mt-2">
                <input
                  type="password"
                  name="newPassword"
                  id="newPassword"
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  placeholder="Enter new password"
                  required
                  minlength="8"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <button
          type="submit"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</DashbordLayout>
