---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Efiada | Welcome">
  <main>
    <h1>Something awesome is happening</h1>
  </main>
</Layout>
