---
export const prerender = false;
import ScanTicket from './ScanTicket.astro';
---

<div class="bg-gray-800 text-white rounded-lg shadow">
  <div class="border rounded-lg">
    <ScanTicket />
  </div>
</div>
