---
import { ViewTransitions } from 'astro:transitions';
interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Astro description" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>

    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
