---
import { CookiesProvider } from 'react-cookie';
import HomeNav from '../components/HomeNav';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <div class="bg-white">
    <CookiesProvider defaultSetOptions={{ path: '/' }}>
      <HomeNav client:only />
    </CookiesProvider>
    <div class="relative isolate pt-14">
      <slot />
    </div>
  </div>
</BaseLayout>

<style is:global>
  :root {
  }
  html {
    /* font-size: 62.5%; */
  }
</style>
